

.card{
    background-color: #013D4A;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    cursor: pointer;
    font-family: sans-serif;
    
}
