<ng-template #leaderboardFormTemplate >

    <div class="form-control" >
        <input  type="text"  [formControl]="nome" name="name">Nome
    </div>
    <div class="form-control" >
        <input  type="text" [formControl]="cognome"  name="surname">Cognome
    </div>
    <div class="form-control" >
        <input  type="text"  [formControl]="soprannome"  name="nickname">Soprannome
    </div>
    <button>submit</button>

</ng-template>
<ng-template #cardLeaderboard >
    <div class="card-info-container" *ngFor="let profile of profiles; index as i" (click) = "getCurrentProfile(i)">
        
        <div class="card-info" *ngIf ="profile.name && profile.surname">
          <p class="p-name">{{profile.name}}</p>
          <p class="p-surname">{{profile.surname}}</p>
          <p class="p-nick">@{{profile.nickname}}</p>
        </div>
        <div class="card-info" *ngIf ="!profile.name || !profile.surname">
          <p class="p-nick">@{{profile.nickname}}</p>
        </div>
        <p *ngIf="profile.points" class="p-nick">{{profile.points}}</p>
      </div>
    </ng-template>

<app-card 
[cardModel] = "cardLeaderboard"
>
</app-card>

<add-user-form
[formTemplate] = "leaderboardFormTemplate"
[formGroup] = "group"
(formModelEmitter) = "setFormModel($event)"
>
</add-user-form>
